/* Estilos especificos para la pagina del formulario de contacto */
.contactForm{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 350px;
    padding: 20px;
    background-color: lightblue;
    border-radius: 5px;
    color: black;
}
input, textarea{
    display: flex;
    width: 300px;
    border-radius: 5px;
    resize: none;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 3px;
}
.msgToShow{
    width: 100%;
    padding: 5px;
}
