*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

body {
    background-image: url(https://raw.githubusercontent.com/ignacio2194/rickAndMorty-API/main/images/heic1909a.jpg);
}

a, a:hover, a:visited{
    text-decoration: none;
    color: black;
}
.mainContainer{
    display: flex;
    width: 80vw;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 10vw;
    background-color: rgba(121, 120, 120, 0.479);
}
.navBar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
}

.contactForm{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 350px;
    padding: 20px;
    background-color: aqua;
    border-radius: 5px;
}

input, textarea{
    display: flex;
    width: 300px;
    border-radius: 5px;
    resize: none;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 3px;
}
button{

    border-radius: 5px;
    padding: 3px;
    width: 150px;
    background-color: rgb(6, 131, 214);
    cursor: pointer;
}
button:hover, .currentSection{
    background-color: blue;
}
.div-tabla {
    color: white;
    font-size: 16px;
}